<div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Project List
            </div>
            <div class="card-body">
              <table class="table table-responsive-sm">
                <thead>
                  <tr>
                    <th>Project</th>
                    <th>Project URl</th>
                    <th>SSH URL</th>
                    <th>HTTP URL</th>
                  </tr>
                </thead>
                <tbody>
                  <% data.data.forEach(function(project) { %>
                  <tr>
                    <td><%=project.name%></td>
                    <td><%=project.webUrl%></td>
                    <td><%=project.sshUrl%></td>
                    <td><%=project.httpUrl%></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      