<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/web/dashboard/">
          <i class="nav-icon icon-drop"></i> Dashboard</a
        >
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/web/project/all">
            <i class="nav-icon icon-drop"></i> Project</a
          >
        </li>
      <li class="nav-item">
          <a class="nav-link" href="/web/commit/all">
            <i class="nav-icon icon-drop"></i> Commit History</a
          >
        </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
