<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Commit History
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm">
          <thead>
            <tr>
              <th>Project</th>
              <th>Project URl</th>
              <th>Commit(s) URL</th>
              <th>Commit timestamp</th>
            </tr>
          </thead>
          <tbody>
            <% data.data.forEach(function(commit) { %>
            <tr>
              <td><%=commit.data.project.name%></td>
              <td><%=commit.data.project.web_url%></td>
              <td><%=commit.data.commits[0].url%></td>
              <td><%=commit.data.commits[0].timestamp%></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
